body{
  margin:0;
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  font-family:Poppins;
  background: linear-gradient(135deg,#f3e8ff,#ede9fe);
  background-image: url(B4.jpg);
  background-size: cover;
}

.auth-card{
  width:350px;
  padding:30px;
  border-radius:20px;
  background:rgba(255, 245, 254, 0.9);
  box-shadow:0 10px 25px rgba(0,0,0,0.1);
  text-align:center;
}

input{
  width:90%;
  padding:12px;
  margin-top:15px;
  border-radius:10px;
  border:1px solid #ddd;
}

button{
  width:100%;
  margin-top:20px;
  padding:12px;
  border:none;
  border-radius:10px;
  background:#5a4272;
  color:white;
  cursor:pointer;
}